{% extends "base.html.twig" %}

{% block title %}{% endblock %}
{% block stylesheets %}{% endblock %}
{% block top %}
    <div class="col" style="margin-bottom: 50px;">
        <div class="container" style="text-align: center;">
            <div>
                <h1>Espace Administrateur</h1>
            </div>
        </div>
        <div class="row" style="margin-top: 50px;">
            <li class="nav-item" style="text-align: center;width: 33%">
                <a href="{{ path('admin.playlists') }}">Playlists</a>
            </li>
            <li class="nav-item" style="text-align: center;width: 33%">
                <a href="{{ path('admin.formations') }}">Formations</a>
            </li>
            <li class="nav-item" style="text-align: center;width: 33%">
                <a href="{{ path('admin.categories') }}">Catégories</a>
            </li>
        </div>
    </div>
{% endblock %}
{% block body %}{% endblock %}
{% block footer %}
    <div class="container text-center">
        <footer>
            <hr>
            <p><small><i>
                Consultez nos <a class="link-secondary" href="{{ path('cgu') }}">Conditions Générales d'Utilisation</a>
            </i></small></p>
            
        </footer>
    </div>
{% endblock %}
{% block javascripts %}{% endblock %}
